
a, a:link{
text-decoration: none;
color:inherit;
}


body{
  font-family: monospace;
  font-size: 1em;
}
.container{
  width: 100%;
  min-height: 400px;
  display: flex;
  background-color:#272a36;
}

.item{
  // border: solid black 2px;
  color: #77c5d7;
  text-transform: uppercase;
  text-align: center;
}

/********NAV BAR********/
.navigation-column{
  background-color: #44475a;
  width: 13%;
}

.nav-item{
  padding: 10px;
  // border: red solid 2px;
  text-transform: uppercase;
  justify-content: left ; 
  // font-weight: 300;
  text-align: left;
}

.nav-icon{
  color: #44475a;
  padding: 2px;
  border-radius: 2px;
  height: 10%;
  width: 10%;
  // font-size: 1.2em;
  text-align: center;

}

.nav-name{
  font-size: 1.3em;
}

.setting{
  color: #8be9fc;
}
.fa-wrench {
  background-color: #8be9fc;
}
.gist{
  color:#73f27c;
}

.fa-code{
 background-color: #73f27c;
 
}

.stack-overflow{
  color: #f7b76b;
}
.fa-stack-overflow {
  background-color: #f7b76b;
}
.trending{
  color: #ed76c4;
}

.fa-chart-line {
  background-color: #ed76c4;
}
.scratch-pad{
  color: #bc93f9;
}
.fa-pencil-alt{
  background-color:#bc93f9;
}

.playground{
  color: #f8f8f2;
}
.fa-lightbulb{
background-color: #f8f8f2;
}

.help{
  color: #e6db74;
}
.fa-question {
  background-color: #e6db74;
}
.heading{
  display: inline-block;
}
.logo{
  color: #6272a4;
}
.nav-footer{
margin-top: 100%;

}

.footer-icon{
margin-top: 10%;
margin-bottom: 10%;
margin-right: 2%;
padding: 2%;
border-radius: 20px;
font-size: 1.2em;
height: 10%;
width: 10%;
text-align: center;
color: #ffff;
}
.fa-facebook-f{
  background-color: #3b5897;
}
.fa-linkedin-in{
  background-color: #2b7fb1;
}
.fa-twitter{
  background-color: #3daced;
}
.fa-reddit-alien{
  background-color: #5f98ce;
}

/*******************END NAV*********/
.popular-column{
  // flex-grow: 1;
width: 20%
}

.relevant-column{
  flex-grow: 2;
}
.githubIssues-column{
  // flex-grow: 1;
  width: 20%;
}



.posted-by, .comment-link, .summary, .history-text, .git, .issue-num{
  font-size: .9em;
  text-align: left;
  text-transform: capitalize;
  // width: 40%;
  padding-left: 10px;
}
.summary{
  color: #ffff;
}

.posted-by, .issue-num{
  color:#ccd37c;
  font-weight: bold;
}
.posted-by-text{
  color: #8be9fc;
}
.comment-link{
  color: #ae5c96;
}

.history-text,.git-repo{
  width:100%;
  color: #515d84;
}
.post-date{
  color:#7b7b7f;
  margin-left: 10px;
  
}




/************ Time **************/
.time{
   width: 100%;
  color: #6272a4;
}
.clock{
  font-size: 7em;
  font-weight: bold;
  border-top: solid .5px;
}
.clock{
  padding-top:15%;
  font-weight: 600;
}
.am-pm, .date{
  font-size:.5em;
  font-weight: 300;
}

.date{
  font-size: 2em;
  font-weight: 300;
}

/*************FAQ*************/
.faq{
  font-style: normal;
  color: #6272a4;
  text-align: center;
  padding:0 20%;
  // display: inline-block;
}
.fa-question-circle, .dont-show{
  color: #f7b76b;
}


// .nav-footer{
//   position: fixed;
//   bottom: 0px;
// }