
a, a:link{
text-decoration: none;
color:inherit;
}


body{
  font-family: 'Courier New', Courier, monospace;
}
.container{
  width: 100%;
  min-height: 400px;
  display: flex;
  background-color:#272a36;
}

.item{
  border: solid black 2px;
  color: #77c5d7;
  text-transform: uppercase;
  text-align: center;
}

.navigation-column{
  background-color: #44475a;
  width: 13%;
}

.nav-item{
  padding: 10px;
  // border: red solid 2px;
  text-transform: uppercase;
  justify-content: left ; 
  font-weight: 300;
  text-align: left;
}
.popular-column{
  // flex-grow: 1;
width: 20%
}

.relevant-column{
  flex-grow: 2;
}
.githubIssues-column{
  // flex-grow: 1;
  width: 20%;
}



.posted-by, .comment-link, .summary, .history-text, .git, .issue-num{
  font-size: .8em;
  text-align: left;
  text-transform: capitalize;
  // width: 40%;
  padding-left: 10px;
}
.summary{
  color: #ffff;
}

.posted-by, .issue-num{
  color:#ccd37c;
  font-weight: bold;
}
.comment-link{
  color: #ae5c96;
}

.history-text,.git-repo{
  width:100%;
  color: #515d84;
}
.post-date{
  color:#7b7b7f;
  margin-left: 10px;
}

/********NAV BAR********/

.setting{
  color: #8be9fc;
}
.gist{
  color:#73f27c;
}
.stack-overflow{
  color: #f7b76b;
}
.trending{
  color: #ed76c4;
}
.scratch-pad{
  color: #bc93f9;
}

.playground{
  color: #f8f8f2;
}

.help{
  color: #e6db74;
}
.heading{
  display: inline-block;
}

/************ Time **************/
.time{
   width: 100%;
  color: #6272a4;
}
.clock{
  font-size: 8em;
  font-weight: bold;
  border-top: solid .5px;
}
.clock{
  padding-top:15%;
  font-weight: 600;
}
.am-pm, .date{
  font-size:.5em;
  font-weight: 300;
}

.date{
  font-size: 2em;
  font-weight: 300;
}



// .nav-footer{
//   position: fixed;
//   bottom: 0px;
// }