* {
  box-sizing: border-box;
}
a, a:link{
text-decoration: none;
color:inherit;
}
 html{
   font-size: 10px;
 }

body{
  font-family: monospace;
  // font-size: 1em;
}
.container{
  width: 100%;
  min-width: 500px;
  display: flex;
  background-color:#272a36;
  margin: auto;
}

/***********ICONS**********/
.icon{
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.2rem;
  text-align: center; 
  padding: .2rem;
}
.nav-icon{
  color: #44475a;
  border-radius: .2rem;

}
.relevant-icon{
  font-size: 1.5rem;
  background-color: #f8f8f2;
  color: #3daced; 
  padding: 0;
}

.footer-icon{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: .2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: #ffff;
  }

  .heading-icon{
    color: #77c5d7;
  }
/********NAV BAR********/
.navigation-column{
  background-color: #44475a;
  min-width: 11vw;
  flex-grow: 1;
}
nav.nav-bar {
  margin-left: .5rem;
  margin-top: 2rem;
}
.nav-item{
  padding: .2rem;
  margin-left: .2rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
  text-align: left;
}

.nav-name{
  font-size: 1rem;
}

.setting{
  color: #8be9fc;
}
.fa-wrench {
  background-color: #8be9fc;
}
.gist{
  color:#73f27c;
}

.fa-code{
 background-color: #73f27c;
 
}

.stack-overflow{
  color: #f7b76b;
}
.fa-stack-overflow {
  background-color: #f7b76b;
}
.trending{
  color: #ed76c4;
}

.fa-chart-line {
  background-color: #ed76c4;
}
.scratch-pad{
  color: #bc93f9;
}
.fa-pencil-alt{
  background-color:#bc93f9;
}

.playground{
  color: #f8f8f2;
}
.fa-lightbulb{
background-color: #f8f8f2;
}

.help{
  color: #e6db74;
}
.fa-question {
  background-color: #e6db74;
}
.heading{
  display: inline-block;
}
.logo{
  color: #6272a4;
}
.nav-footer{
margin-top: 10rem;
align-self: flex-end;
text-align: center;
}


.fa-facebook-f{
  background-color: #3b5897;
}
.fa-linkedin-in{
  background-color: #2b7fb1;
}
.fa-twitter{
  background-color: #3daced;
}
.footer-reddit{
  background-color: #5f98ce;
}


.heading{
  // border: solid black 2px;
  color: #77c5d7;
  text-transform: uppercase;
  // text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
}


.main-heading{
  flex-wrap: nowrap;
  text-align: center;
}
/******Popular Column****************/
.quater{
flex-grow: 1;
width: 25vw;
min-width: 20rem;
}

.item{
  margin-right: 1rem;
}
.summary{
margin: 0 .5rem;

border-left: #44475a solid .3rem;
color: #ffff;
}
.popular-article{
  margin-bottom: 10%;
}

/*********RELEVANT COLUMN***********/

.relevant-column{
  flex-grow: 3;
}

.history-text,.git-repo{
  width:100%;
  color: #515d84;
}
.post-date{
  color:#7b7b7f;
  margin-left: 10px;
}

.history-text{
  white-space: nowrap;
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}

table{
  width: 100%;
  // border:  red solid 2px;
  border-bottom: solid #515d84 .1rem;
}

/*****GITHUB ISSUES*****/
.githubIssues-column{
  flex-grow: 1;
  // width: 20%;
}
.git-heading{
  margin-bottom: 0;
}
.issues-header{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%;
}
  .summary, .history-text{
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
  padding-left: 10px;
}

.git{
margin-bottom: 10%;
}
.git-heading-text{
margin-bottom: 5%;
}

.posted-by, .issue-num, .yellow{
  color:#ccd37c;
 
}
.posted-by-text{
  color: #8be9fc;
}
.reddit-score ,.gray{
  color: #515d84;

}
.git-heading-text{
  margin-top: 0;
}
.comment-link, .pink{
  color: #ae5c96;
  margin-bottom: 1rem;

}

/************ Time **************/
.time{
  width: 100%;
  color: #6272a4;
  text-align: center;
  // border: red 2px solid;
  margin-top: 10%;
}
.clock{
  font-size: 10rem;
  font-weight: 400;

}

.am-pm{
  font-size: 3rem;
  font-weight: 300;
}

.date,.month,.year,.day{
  font-size: 2rem;
  font-weight: 100;
}

/*************FAQ*************/
.faq{
  width: 100%;
  font-style: normal;
  color: #6272a4;
  text-align: center;
  display: inline-block;
  // border: red 2px solid;
}
.fa-question-circle, .dont-show{
  color: #f7b76b;
  margin: 0;
  padding: 0;
}


// .nav-footer{
//   position: fixed;
//   bottom: 0px;
// }