* {
  box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: monospace;
}

.container {
  width: 100%;
  min-width: 500px;
  display: flex;
  background-color: #272a36;
  margin: auto;
}

/*********COLOR*************/
.blue {
  color: #8be9fc;
}

.orange {
  color: #f7b76b;
}

.green {
  color: #73f27c;
}

.pink {
  color: #ed76c4;
}

.purple {
  color: #bc93f9;
}

.white {
  color: #f8f8f2;
}

.yellow {
  color: #e6db74;
}

.gray {
  color: #44475a;
}

.light-gray {
  color: #6272a4;
}

.hash-gray {
  color: #7b7b7f;
}

/***********ICONS**********/
.icon {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.2rem;
}

.nav-icon {
  color: #44475a;
  border-radius: 0.2rem;
}

.fa-wrench {
  background-color: #8be9fc;
}

.fa-code {
  background-color: #73f27c;
}

.fa-stack-overflow {
  background-color: #f7b76b;
}

.fa-chart-line {
  background-color: #ed76c4;
}

.fa-pencil-alt {
  background-color: #bc93f9;
}

.fa-lightbulb {
  background-color: #f8f8f2;
}

.fa-lock {
  background-color: #f8f8f2;
}

.small-lock {
  background-color: #44475a;
  color: #f8f8f2;
}

.fa-question {
  background-color: #e6db74;
}

.relevant-icon {
  font-size: 1.5rem;
  background-color: #f8f8f2;
  color: #3daced;
  padding: 0;
}

.footer-icon {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.heading-icon {
  color: #77c5d7;
}

/********NAV BAR********/
.navigation-column {
  background-color: #44475a;
  min-width: 11vw;
  flex-grow: 1;
}

nav.nav-bar {
  margin-left: 0.5rem;
  margin-top: 2rem;
}

.nav-item {
  padding: 0.2rem;
  margin-left: 0.2rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
  text-align: left;
}

.heading-icon {
  font-size: 1.2rem;
}

.nav-name {
  font-size: 1rem;
}

.heading {
  display: inline-block;
}

.logo {
  color: #6272a4;
}

.nav-footer {
  margin-top: 10rem;
  align-self: flex-end;
  text-align: center;
}

.fa-facebook-f {
  background-color: #3b5897;
}

.fa-linkedin-in {
  background-color: #2b7fb1;
}

.fa-twitter {
  background-color: #3daced;
}

.footer-reddit {
  background-color: #5f98ce;
}

.heading {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
}

.main-heading {
  flex-wrap: nowrap;
  text-align: center;
}

/******Popular Column****************/
.quater {
  flex-grow: 1;
  width: 25vw;
  min-width: 20rem;
}

.item {
  margin-right: 1rem;
}

.summary {
  margin: 0 0.5rem;
  border-left: #44475a solid 0.3rem;
  margin-bottom: 30rem;
}

.popular-article {
  margin-bottom: 10%;
}

/*********RELEVANT COLUMN***********/
.relevant-column {
  flex-grow: 3;
}

.history-text, .git-repo {
  width: 100%;
}

.post-date {
  margin-left: 1rem;
}

.history-text {
  white-space: nowrap;
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  width: 100%;
  border-bottom: solid #515d84 0.1rem;
}

/*****GITHUB ISSUES*****/
.githubIssues-column {
  flex-grow: 1;
}

.git-heading {
  margin-bottom: 0;
}

.issues-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%;
}

.summary, .history-text {
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
  padding-left: 10px;
}

.git {
  margin-bottom: 10%;
}

.git-heading-text {
  margin-bottom: 5%;
}

.git-heading-text {
  margin-top: 0;
}

.comment-link {
  margin-bottom: 2rem;
}

/************ Time **************/
.time {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.clock {
  font-size: 10rem;
  font-weight: 400;
}

.am-pm {
  font-size: 3rem;
  font-weight: 300;
}

.date, .month, .year, .day {
  font-size: 2rem;
  font-weight: 100;
}

/*************FAQ*************/
.faq {
  width: 100%;
  font-style: normal;
  text-align: center;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
