* {
  box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: monospace;
  font-size: 1em;
}

.container {
  width: 100%;
  min-width: 500px;
  display: flex;
  background-color: #272a36;
  margin: auto;
}

/***********ICONS**********/
.icon {
  height: 24px;
  width: 24px;
  text-align: center;
  padding: 2px;
}

.nav-icon {
  color: #44475a;
  border-radius: 2px;
}

.relevant-icon {
  font-size: 1.5em;
  background-color: #f8f8f2;
  color: #3daced;
  padding: 0;
}

.footer-icon {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 20px;
  font-size: 1.2em;
  color: #ffff;
}

.heading-icon {
  color: #77c5d7;
}

/********NAV BAR********/
.navigation-column {
  background-color: #44475a;
  min-width: 15vw;
  flex-grow: 1;
}

.nav-item {
  padding: 10px;
  margin-left: 2px;
  text-transform: uppercase;
  text-align: left;
}

.nav-name {
  font-size: 1.3em;
}

.setting {
  color: #8be9fc;
}

.fa-wrench {
  background-color: #8be9fc;
}

.gist {
  color: #73f27c;
}

.fa-code {
  background-color: #73f27c;
}

.stack-overflow {
  color: #f7b76b;
}

.fa-stack-overflow {
  background-color: #f7b76b;
}

.trending {
  color: #ed76c4;
}

.fa-chart-line {
  background-color: #ed76c4;
}

.scratch-pad {
  color: #bc93f9;
}

.fa-pencil-alt {
  background-color: #bc93f9;
}

.playground {
  color: #f8f8f2;
}

.fa-lightbulb {
  background-color: #f8f8f2;
}

.help {
  color: #e6db74;
}

.fa-question {
  background-color: #e6db74;
}

.heading {
  display: inline-block;
}

.logo {
  color: #6272a4;
}

.nav-footer {
  margin-top: 100%;
  align-self: flex-end;
}

.fa-facebook-f {
  background-color: #3b5897;
}

.fa-linkedin-in {
  background-color: #2b7fb1;
}

.fa-twitter {
  background-color: #3daced;
}

.fa-reddit-alien {
  background-color: #5f98ce;
}

.heading {
  color: #77c5d7;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 100;
}

.main-heading {
  flex-wrap: nowrap;
  text-align: center;
}

/******Popular Column****************/
.quater {
  flex-grow: 1;
  width: 25vw;
  min-width: 300px;
}

.item {
  margin: 0 10px;
}

.summary {
  margin: 0 5px;
  border-left: #44475a solid 3px;
  color: #ffff;
}

/*********RELEVANT COLUMN***********/
.relevant-column {
  flex-grow: 3;
}

.history-text, .git-repo {
  width: 100%;
  color: #515d84;
}

.post-date {
  color: #7b7b7f;
  margin-left: 10px;
}

.history-text {
  white-space: nowrap;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  width: 100%;
}

/*****GITHUB ISSUES*****/
.githubIssues-column {
  flex-grow: 1;
}

.summary, .history-text, .git, .issue-num {
  font-size: 1em;
  text-align: left;
  text-transform: capitalize;
  padding-left: 10px;
}

.posted-by, .issue-num {
  color: #ccd37c;
}

.posted-by-text {
  color: #8be9fc;
}

.reddit-score {
  color: #515d84;
}

.comment-link {
  color: #ae5c96;
  margin-bottom: 10px;
}

/************ Time **************/
.time {
  width: 100%;
  color: #6272a4;
}

.clock {
  font-size: 7em;
  border-top: solid 0.5px;
}

.clock {
  padding-top: 15%;
  font-weight: 400;
}

.am-pm, .date {
  font-size: 0.5em;
  font-weight: 300;
}

.date {
  font-size: 2em;
  font-weight: 300;
}

/*************FAQ*************/
.faq {
  font-style: normal;
  color: #6272a4;
  text-align: center;
  padding: 0 20%;
}

.fa-question-circle, .dont-show {
  color: #f7b76b;
}

/*# sourceMappingURL=style.css.map */
